<nav class="navbar navbar-expand-lg navbar-white sticky-top" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/img/common/logo.png" alt="Logo naszego koła" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= path === '/' ? 'active' : '' %>" href="/">Strona Główna</a>
                </li>

                <% const sections = ['game', '3d_print', 'vr'];
                const sectionNames = {
                    'game': 'Sekcja gier',
                    '3d_print': 'Sekcja Druku 3D',
                    'vr': 'Sekcja VR'
                };
                sections.forEach(section => { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"
                           id="<%= section %>Dropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <%= sectionNames[section] %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="<%= section %>Dropdown">
                            <li><a class="dropdown-item" href="/<%= section %>/index">Strona główna sekcji</a></li>
                            <li><a class="dropdown-item" href="/<%= section %>/projects">Nasze projekty</a></li>
                            <li><a class="dropdown-item" href="/<%= section %>/team">Zespół</a></li>
                            <li><a class="dropdown-item" href="/<%= section %>/gallery">Galeria</a></li>
                        </ul>
                    </li>
                <% }); %>

                <li class="nav-item">
                    <a class="nav-link <%= path === '/contact' ? 'active' : '' %>" href="/contact">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>